.label-width {
   display: inline-block;
   width: 100px;
}

.form-error {
   margin-bottom: 1rem;
}

video {
   width: 100%;
   margin: 0 auto;
   max-height: 250px;
}

.textarea {
   margin-top: 10px;
}

.big-image {
   width: 30%;
}

.text-right {
   float: right;
}

.applicantListing {
   cursor: pointer;
}

.applicantListing:hover {
   background: hsl(0, 0%, 96%);
}
