<!DOCTYPE html>
<html>
<head>
   <title>StateFarm Application</title>
   <link type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css' />
   <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/solid.css' integrity='sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G' crossorigin='anonymous' />
   <link type='text/css' rel='stylesheet' href='/public/css/main.css' />
   <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
</head>
<body>
   <section id='app'>
      <section class='hero-body'>
         <div class='container has-text-centered'>
            <h1 class='title'>StateFarm Application</h1>
            <h2 class='subtitle'>Like a good neigbor</h2>
         </div>
      </section>
      <section class='section' v-if='landingPageActive'>
         <div class='container has-text-centered'>
            <a class='button is-primary' @click='startProcess'>Begin Application Process</a>
         </div>
      </section>
      <section class='section' v-if='applicantInfoActive'>
         <div class='container'>
            <div class='box' v-for='sec in applicantInfo'>
               <p class='title'>{{ sec.heading }}</p>
               <div v-for='input in sec.questions'>
                  <div class='field is-horizontal'>
                     <div class='field-label is-normal'>
                        <label class='label' :for='input[0].toLowerCase().replace(/\W/g, '-')'>{{ input[0] }}</label>
                     </div>
                     <div class='field-body'>
                        <div class='field'>
                           <p class='control'>
                              <input type='text' class='input' :name='input[0].toLowerCase().replace(/\W/g, "-")' value='' :placeholder='input[1]' @keyup='validateKey' @blur='validateBlur' />
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class='field is-horizontal'>
                     <div class='field-label is-normal'></div>
                     <div class='field-body'>
                        <p class='help is-danger form-error' v-if='input[0] == "Email" && invalidEmail'>This email is invalid<br></p>
                        <p class='help is-danger form-error' v-if='input[0] != "Email" && blank[input[0].toLowerCase().replace(/\W/g, "-")]'>Don't leave anything blank!</p>
                     </div>
                  </div>
               </div>

            </div>
            <div class='has-text-centered'>
               <a class='button is-primary' @click='startVideos'>Let's Interview!</a>
            </div>
         </div>
      </section>
      <section class='section' v-if='videoQuestionsActive'>
         <div class='container'>
            <question-video :question='questions[questionNumber]' :record='record'>
               
            </question-video>
            <video id='webcam' class='box' autoplay='true'></video>
         </div>
      </section>
   </section>

   <script src='https://cdn.WebRTC-Experiment.com/RecordRTC.js'></script>
   <script>
      Vue.component('question-video', {
         props: ['question', 'record'],
         template: `
         <div class='box'>
            <p class='title'> {{ question.text }}</p>
            <p>Take some time to collect your thoughts. <br><br> Make sure we have permission to use the camera and microphone. <br><br> Click record when you're ready.</p>
            <br>
            <br>
            <a class='button is-danger is-fullwidth' @click='record'> Record</a>
         </div>`
      });

      let recorder;
      let recording = false;

      const app = new Vue({
         el: '#app',
         data: {
            landingPageActive: false,
            applicantInfoActive: false,
            videoQuestionsActive: true,
            questionNumber: 0,
            invalidEmail: false,
            recording: false,
            blank: {'phone': false, 'full-name': false, 'email': false, 'address': false, 'postal-code': false, 'city': false, 'country': false, 'state': false},
            questions: [{
               text: 'What can you offer us that someone else cannot?',
               type: 'video'
            }],
            applicantInfo: [{
               heading: 'Basic Information',
               questions: [
                  ['Full Name', 'Ben Taylor'],
                  ['Email', 'ben.taylor@example.com'],
                  ['Phone', '(940) 555-1234']
               ]
            },
            {
               heading: 'Address',
               questions: [
                  ['Address', '6425 Boaz Lane'],
                  ['Postal Code', '75205'],
                  ['City', 'Dallas'],
                  ['Country', 'United States'],
                  ['State', 'Texas']
               ]
            }]
         },
         methods: {
            startProcess: function () {
               this.landingPageActive = false;
               this.applicantInfoActive = true;
            },
            startVideos: function () {
               let valid = true;

               for (let box of this.applicantInfo) {
                  for (let question of box.questions) {
                     let element = document.querySelector(`input[name=${question[0].toLowerCase().replace(/\W/g, '-')}]`);
                     let name = element.name;
                     
                     if (name == 'email') {
                        let validEmail = validateEmail(element.value);
                        if (!validEmail) {
                           element.classList.add('is-danger');
                           this.invalidEmail = true;
                           valid = false;
                        } else {
                           element.classList.remove('is-danger');
                           this.invalidEmail = false;
                        }
                     }

                     if (name != 'email') {
                        if (element.value.length == 0) {
                           this.blank[element.name] = true;
                           Vue.set(this.blank, element.name, true);
                           element.classList.add('is-danger');
                           valid = false;
                        } else {
                           this.blank[element.name] = false;
                           Vue.set(this.blank, element.name, false);
                           element.classList.remove('is-danger');
                        }
                     }
                  }
               }

               if (valid) {
                  this.applicantInfoActive = false;
                  this.videoQuestionsActive = true;
                  
                  // preview webcam
                  let video = document.querySelector('#webcam');
 
                  if (navigator.mediaDevices.getUserMedia) {       
                      navigator.mediaDevices.getUserMedia({video: true})
                    .then(function(stream) {
                      video.srcObject = stream;
                    })
                    .catch(function(err0r) {
                      console.log('Something went wrong!');
                    });
                  }
               }
            },
            validateBlur: function (e) {
               let element = e.target
               let name = element.name;
               
               if (name == 'email') {
                  let validEmail = validateEmail(element.value);
                  if (!validEmail) {
                     element.classList.add('is-danger');
                     this.invalidEmail = true;
                  } else {
                     element.classList.remove('is-danger');
                     this.invalidEmail = false;
                  }
               }

               if (name != 'email') {
                  if (element.value.length == 0) {
                     this.blank[element.name] = true;
                     Vue.set(this.blank, element.name, true);
                     element.classList.add('is-danger');
                  } else {
                     this.blank[element.name] = false;
                     Vue.set(this.blank, element.name, false);
                     element.classList.remove('is-danger');
                  }
               }
            },
            validateKey: function (e) {
               let element = e.target
               let name = element.name;

               if (name == 'email') {
                  element.classList.remove('is-danger');
                  this.invalidEmail = false;
               }

               if (name != 'email') {
                  if (element.value.length != 0) {
                     this.blank[element.name] = false;
                     Vue.set(this.blank, element.name, false);
                     element.classList.remove('is-danger');
                  }
               }
            },
            record: function (e) {
               if (!recording) {
                  navigator.mediaDevices.getUserMedia({
                      video: true,
                      audio: true
                  }).then(async function(stream) {
                     recording = true;
                     recorder = RecordRTC(stream, {
                        type: 'video'
                     });
                     recorder.startRecording();
                  });
               } else {
                  recorder.stopRecording(function() {
                     recording = false;
                     let blob = recorder.getBlob();
                     invokeSaveAsDialog(blob);
                  });
               }
            }
         },
         created: function () {

         }
      });

      function validateEmail (email) {
         return /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|'(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*')@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(email);
      }
   </script>
</body>
</html>